html {
  background-color: transparent;
}
.tooltip:hover {
    color: red;
    margin-left: 28px; /* moves the tooltip to the right */
    margin-top: 15px; /* moves it down */
    position: absolute;
    z-index: 1000;

}
.tooltip:hover {
  display:block;
}
.popup {
  display: none;
  background:rgba(0,0,0,0.8);
  padding: 5px;
  z-index: 1;
  color: white;
      /* display: none; */
    background: rgba(0,0,0,0.8);
    padding: 5px;
    z-index: 80000;
    color: white;
    /* width: 250px; */
    /* height: 250px; */
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
}
.ability:hover .popup {
  display: flex;
}
body {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  box-sizing: border-box;
}
.playerTeam {
  position: fixed; top:0px;
}
.ability .name {
  font-weight:bold;
  color:limegreen;
}
#toggle-button {
    font-size: 12px;
    position: fixed;
    top: 47px;
    background: blue;
    left: 338px;
    color: white;
    padding: 3px;
    border-radius: 5px;
    background: transparent;
    border: solid 1px rgba(255,255,255,0.5);
    box-shadow: thistle;
    box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.9);
    user-select: none;
}
}
#toggle-button:hover {
  cursor: pointer;
}
.playerTeam.you {
  left: 0;
}
.playerTeam.them {
  right: 0;
}
.individual {
  position: absolute;
  display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.playerTeam .individual {
    width: 220px;
    height: 77px;
    cursor: pointer;
}
.playerTeam.you .individual {
    padding-left: 110px;

     justify-content: flex-start;
}
.playerTeam.them .individual {
    padding-right: 110px;

     justify-content: flex-end;
}
.playerTeam.them .ability {

        direction: rtl;

}
.playerTeam.them .ability .popup{

        text-align:left;
        
}
.container {
  visibility: hidden;
  /*position:absolute; bottom: 0px; left:20px; width: 60px; height: 60px;*/
}
.individual .container {
  position: absolute;
  /*background:red;*/

    top: 7px;
}
.you .individual .container {
  position: absolute;
      left: 205px;
}
.them .individual .container {
  position: absolute;
  right: 205px;
}
.container > img {
    width: 30px;
    height: 30px;
    z-index: 1
}
.p img,.q img,.w img,.e img,.r img {
  width: 20px;
height: 20px;
/*background: red;*/
}

div[id^player] {
  position:absolute; bottom:0px; left:123px; width: 20px; height: 20px;
}
.ability {
      width: 20px;
    height: 20px;
    /*background: red;*/
    margin: 0 4px;
}
.ability > img {
  width: 20px;
  height: 20px;
  margin-top: -5px;
}
.them .b {
  margin-right: 10px;
}
.you .b {
  margin-right: 10px;
}
div[id^player] img {
  width: 20px; height: 20px;
}
.window-handle {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 2em;
  background-color: #0094ff;
  color: white;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
} .window-handle::after {
  -webkit-app-region: drag;
  content: '⣿';
  background-color: #ffffff2e;
  padding: 4px 50px;
  border-radius: 999em;
  border: 1px solid #ffffff3b;
}
.window-handle {
  background: none;
}
.window-handle:after {
  background: red;
}
body {
  border: none;
}

.square {
  display: flex;
  /*position: fixed;*/
/*  bottom: 0;
  right: 0;*/
  width: 5vw;
  height: 5vh;
  background-color: white;
  border: 5px solid black;
/*  border-radius: 50%;*/
  align-items: center;
  justify-content: center;
  font-family: arial;
  cursor: pointer;
  text-align: center;
} .square:hover {
  background-color: grey;
  border-color: darkgrey;
} .square:active {
  background-color: black;
  border-color: white;
  color: white;
}

.state {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2em;
  background-color: #2f6300;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: arial;
} .state.ignoring {
  background-color: black;
}
/*
.image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 40px;
  cursor: pointer;
} .image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} .image:active{
  box-shadow: 0 0 2px 1px rgba(100, 140, 186, 0.5);
}
*/
.playerTeam {

  width:320;
  height:100%;
  cursor: pointer;
}
.individual {

  width:320px;
  height:78px;
  cursor: pointer;
}
.individual:nth-of-type(1) {
      /*top: 128px;*/
      top: 110px;
}
.individual:nth-of-type(2) {
      /*top: 208px;*/
      top: 190px;
}
.individual:nth-of-type(3) {
      /*top: 288px;*/
      top: 270px;
}
.individual:nth-of-type(4) {
      /*top: 368px;*/
      top: 350px;
}
.individual:nth-of-type(5) {
      /*top: 448px;*/
      top:430px;
}


.individual:nth-of-type(6) {
      top: 128px;
}
.individual:nth-of-type(7) {
      top: 208px;
}
.individual:nth-of-type(8) {
      top: 288px;
}
.individual:nth-of-type(9) {
      top: 368px;
}
.individual:nth-of-type(10) {
      top: 448px;
}

.container {
  /*position: fixed;*/
 /*   width: 20px;
  height: 20px;*/
  cursor: pointer;
  /*background-color: grey;*/
}
.container:hover .overlay {
  opacity: 0.5;
}

.image {

  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
